<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnvbLDQSjjhrvu3HO5XZJ1dtl4MMJuoME&sensor=false">
    </script>
    <script type="text/javascript">

    var map;
    var geocoder;
    var bounds;
      function initialize() {
      	geocoder = new google.maps.Geocoder()
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 11,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }


		function codeAddress() {
		  var address = "<%=@zip%>";
		  geocoder.geocode( { 'address': address}, function(results, status) {
		    if (status == google.maps.GeocoderStatus.OK) {
		    	bounds = map.getBounds();
          bounds = [bounds.getNorthEast(), bounds.getSouthWest()];
          bounds = [[bounds[0].lat(), bounds[0].lng()], [bounds[0].lat(), bounds[1].lng()]];
		      map.setCenter(results[0].geometry.location);
		      var marker = new google.maps.Marker({
		          map: map,
		          position: results[0].geometry.location
		      });
          setRequesters(bounds);
		    } else {
		      alert('Geocode was not successful for the following reason: ' + status);
		    }
		  });
		}

    function setRequesters(bounds) { 

    $.get("/current_requests.json", {'latlng[]': bounds}, function(data) {
      console.log(data);
    });
      
    }

      google.maps.event.addDomListener(window, 'load', initialize);
      google.maps.event.addDomListener(window, 'load', codeAddress);
      
    </script>
  </head>
  <body>
    <div id="map-canvas"/>
  </body>
</html>