	<div id="alerts-box">  
		<p id="classalerts">Alerts!<br>
		Messages List includes msgs and sitting requests organized chronologically 5 most recent</p>
	</div>


	<div id="left-user-box">
		<div id="user-box">
			<div class= "user-photo"> 
				<img src=<%=user.escape('avatar_url')%> alt="Profile">
			</div>
			<div id="photo-box-lower">
				<%=user.escape('user_name')%><br>
				<div id="updatephoto">
				<a id="updatephotolink">Update Photo</a>
				</div>
			</div>
		</div>
		<div id="profstuff">
			Verifications
		</div>
	</div>

	<div class="profile-box">
		<div id="profile-info">
			
		 Swaps Ready to Use 
			<%=user.escape('swaps_earned')%> <br>

			 About Me <%=user.escape('about_me')%>
		<br><br>
		<a id="updatefullphotolink" href=""> Update Profile </a>
		</div>
				
			
		</div>
	</div>


	<a href="" class="btn invite-button">Invite friends to Party</a>