	<div id="alerts-box">  
		<p id="classalerts">Alerts!<br>
		Messages List includes msgs and sitting requests organized chronologically 5 most recent</p>
	</div>


	<div id="left-user-box">
		<div id="user-box">
			<div class= "user-photo"> photo <br> edit photo link</div>	
			<p id="prof-username"></p>
		</div>
		<div id="profstuff">
			Verifications
		</div>
	</div>

	<div class="profile-box">
		<div id="profile-info">
			<p>
			<li>Swaps Ready to Use</li>
			<li>email</li>
			<li>address</li>
			<li>DogKarma</li>
			<li>SitterKarma</li>
			<li>My Sitter Rate</li>
			edit links
			</p>
		</div>
	</div>


	<a href="" class="btn invite-button">Invite friends to Party</a>