<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Four Legs Good</h1>
    <p>
      Your username is: <%= @user.user_name %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining!</p>
    <p>Four Legs Real Good</p>
  </body>
</html>