<h1> Username, You have #pluralized free credits </h1>
<h3> Ask Someone to Watch your dog for up to #pluralized nights </h3>
#when user visits this page, the controller calls a method to update the user's available swaps based on their recent sitting history
<form
