
<div class="reviewbox"
	<ul>

		<li class="reviewthread"> 
			<a class="reviewnameholder mydogreview" href="#reviews/mydogs"> Reviews of My Dog </a> <br>
			<ul>
				<li class=reviewsofmydogs></li>
			</ul>
		</li>

		<li class="reviewthread"> 
			<a class="reviewnameholder mysittingreview" href="#reviews/mysitting"> Reviews of Me as a Sitter </a>
			<ul>
				<li><div class="reviewsofmysitting"> </div> </li>
			</ul>
		</li>
		
		<li class="reviewthread"> 
			<a class="reviewnameholder" href="#reviews/otherdogs"> My Reviews of Dogs I Watched </a> 
			<ul>
				<li> <div class="myreviewsofdogs"> </div> </li>
			</ul>
		</li>

		<li class="reviewthread"> 
			<a class="reviewnameholder" href="#reviews/othersitters"> My Reviews of Other Sitters </a> 
			<ul>
				<li> <div class="myreviewsofsitters"> </div> </li>
			</ul>
		</li>

	</ul>
</div>