
<body class="profile">
<div class="container">
	<div class="row profilebackground">
		<div class="span12 profile-nav">
			<ul id="profilenav">
				<li class="active profilenavtab">
					<a href="#" class="profilenavlink"> Dashboard</a>
				</li>
				<li class="profilenavtab">
					<a href="#" class="profilenavlink"> Inbox</a>
				</li>
				<li class="profilenavtab">
					<a href="#" class="profilenavlink">My Pets</a>
				</li>
				<li class="profilenavtab">
					<a href="#" class="profilenavlink">Reviews</a>
				</li>
				<li class="profilenavtab">
					<a href="#" class="profilenavlink">My History</a>
				</li>
			</ul>
		</div>


		<div class="holder span12">

				<div id="alerts-box">  
					<p id="classalerts">Alerts!<br>
					Messages List (includes msgs and sitting requests/responses organized chronologically) - 5 most recent</p>
				</div>


			<div id="left-user-box">
				<div id="user-box">
					<div class= "user-photo"> photo <br> edit photo link</div>	
					<p id="prof-username"><%=@user.user_name%></p>
				</div>
				<div id="profstuff">
				</div>
			</div>

			<div class="profile-box">
				<div id="profile-info">
					<p>
			
					<li>Swaps Ready to Use</li>
					<li><%=@user.email%></li>
					<li>address</li>
					<li>DogKarma</li>
					<li>SitterKarma</li>
					<li>My Sitter Rate</li>
					edit links
					</p>
				</div>
			</div>
		</div>
				
			<row class="span12">
		

				<h2>Inbox Tab</h2>
					<ul>
						<li>List chronologically of all messages and sitting requests/responses grouped by user corresponded with</li>
					</ul>


				<h2> My Pets Tab </h2>
				<ul>
					<li>picture, name, age, instructions</li>
					<li>picture, name, age, instructions</li>
				</ul>

				<h2>Reviews Tab</h2>
				<ul>
					<li>Reviews of me as a Sitter</li>
					<li>My Reviews of Sitters</li>
					<li>Reviews of my Dogs</li>
					<li>My Reviews of Dogs</li>
				</ul>

				<h2>My History Tab</h2>
				<ul>
					<li>My Sitting History</li>
					<li>My Sitters History</li>
				</ul>
			</div>

		</div>
	</div>
</div>
</body>