<div class="dark-green-background">
	<div class="container">
		<div class = "profile-box large-top-margin col-xs-12">
				<div class="profile-nav tiny-bottom-padding small-bottom-border"> 
					<ul>
				    <li><a href="#" class="active">Profile</a></li>
				    <li><a href="#">About You</a></li>
				  </ul>
				</div>	
			<div class = "tiny-top-margin user-profile-form">
				<div class="row">
					<div class="profile-pic col-xs-6">
						<img src="https://graph.facebook.com/<%=current_user.uid%>/picture?width=400&height=400">
					</div>
				</div>
			</div>
			<div class="cherrybtn pull-right"> Next </div>
	  </div>
	</div>
</div>