<script type="text/javascript">
  $(function () {
    // start me up!

    // Preload, or *bootstrap* initial task data.
    var userData = <%= @user.to_json.html_safe %>;

    window.FLG.initialize(
      $(".holder"),
      userData
    );
  });
</script>


<body class="profile">
<div class="container">
	<div class="row profilebackground">
		<div class="span12 profile-nav">
			<ul id="profilenav">
				<li class="profilenavtabdash activedashtab">
					<a href="#" class="profilenavlink"> Dashboard</a>
				</li>
				<li class="profilenavtabmsg">
					<a href="#/msgs" class="profilenavlink"> Inbox</a>
				</li>
				<li class="profilenavtabpets">
					<a href="#/pets" class="profilenavlink">My Pets</a>
				</li>
				<li class="profilenavtabrev">
					<a href="#/reviews" class="profilenavlink">Reviews</a>
				</li>
				<li class="profilenavtabhist">
					<a href="#/history" class="profilenavlink">My History</a>
				</li>
			</ul>
		</div>


		<div class="holder span12">

				<div id="alerts-box">  
					<p id="classalerts">Alerts!<br>
					Messages List (includes msgs and sitting requests/responses organized chronologically) - 5 most recent</p>
				</div>


			<div id="left-user-box">
				<div id="user-box">
					<div class= "user-photo"> photo <br> edit photo link</div>	
					<p id="prof-username"><%=@user.user_name%></p>
				</div>
				<div id="profstuff">
					Verifications
				</div>
			</div>

			<div class="profile-box">
				<div id="profile-info">
					<p>
					<li>Swaps Ready to Use</li>
					<li><%=@user.email%></li>
					<li>address</li>
					<li>DogKarma</li>
					<li>SitterKarma</li>
					<li>My Sitter Rate</li>
					edit links
					</p>
				</div>
			</div>

			
				<a href="#" class="btn invite-button">Invite friends to Party</a>
			
				
		</div>
	
			</div>

		</div>
</body>