<div class="row-fluid">
  <div class="col-xs-8">
    <h2 id="masthead-subtitle">
      <div class="row">
    		Take care of a neighbor's dog. <br/>
    	</div>
      <div class="row tiny-top-margin">
        Get free dog sitting.
      </div>
    </h2>

    <% if current_user %>
      <a href="/auth/facebook" id="sign_in" class="button clearbtn">Browse Dogs to Watch</a>
    <% else %>
      <a href="/auth/facebook" id="sign_in" class="button fbbtn">Sign Up with Facebook</a>
    <% end %>
  </div>


</div>