<div class="row-fluid">
  <div class="span8">
    <h2 id="masthead-subtitle">
      <div class="row-fluid">
    		Take care of a neighbor's dog. <br/>
    	</div>
      <div class="row-fluid tiny-top-margin">
        Earn yourself free dog sitting.
      </div>
    </h2>

    <% if current_user %>
      <a href="" class="button cherrybtn">Ask for a dog sitter</a>
      <a href="" class="button beigebtn">Browse dogs to watch</a>
    <% else %>
      <a href="/auth/facebook" id="sign_in" class="button cherrybtn">Ask for a dog sitter</a>
      <a href="" class="button beigebtn">Browse dogs to watch</a>
    <% end %>

    <div class="row-fluid">
      <p class="light-font small-font">Start with 1 credit. Play with dogs. Save money. Repeat.</p>
    </div>
  </div>


</div>