<h2 id="masthead-subtitle">
  <div class="row-fluid">
		Take care of a neighbor's dog. <br/>
	</div>
  <div class="row-fluid tiny-top-margin">
    Earn yourself free dog sitting.
  </div>
</h2>

<a href="/auth/facebook" id="sign_in" class="button signupbutton">Sign in with Facebook</a>
<div id="hellolinks">
	<p class="light">Save money, play with dogs, repeat </p> 
</div>