<h1 id="masthead-title">Four Legs Good</h1>
	<h2 id="masthead-subtitle">
		<ul>
			Watch someone's dog. <br/>
			Earn swaps. <br/>
			Get free dog sitting from other owners. 
		</ul>
	</h2>
	<button class="button signupbutton">Sign Up</button>
<div id="hellolinks">
	<h4><%=link_to "Can I pay Cash instead? (yes)", statics_url%></h4> 
</div>