<div class="masthead">
	<div class="container">
		<div class="row">
			<div class="span6 offset3 masthead-content">
				<h1 id="masthead-title">Four Legs Good</h1>
					<h2 id="masthead-subtitle">
						<ul>
							Watch someone's dog. <br/>
							Earn swaps. <br/>
							Get free dog sitting from other owners. 
						</ul>
					</h2>
					<a href="/users/new" class="button">Sign Up</a>
				<div id="hellolinks">

				<h4><%=link_to "Can I pay Cash instead? (yes)", statics_url%></h4> 
				</div>
			</div>

		</div>
	</div>
</div>

<div class="container-fluid main-container">
	<div class="row-fluid">
		<div class="span12 secondary-headers">
			 <h2 class="second_welcome">bringing dog owners together</h2>
			  <h3 class="second-subheader">bad ass since 2013</h3>
		</div>

		<div class="span4 first">
			<h3 class = "subheader">Sit Someone's Dog</h3>
			<p class="welcomedeets">stuff</p>
		</div>
		
		<div class="span4">
			<h3 class = "subheader">Buy and Sell Swaps</h3>
			<p class="welcomedeets"> stuff </p>
		</div>

		<div class="span4">
			<h3 class = "subheader">Find Professional Sitters</h3>
			<p class="welcomedeets"> stuff </p>
		</div>
	</div>
</div>







