<div class="masthead background3" >
	<div class="container">
		<div class="signupholder">
		</div>
		<div class="welcomebox">
			<%= render partial: "signup" %>
		</div>
	</div>
</div>
<div class="container-fluid main-container">
	<div class="row">
		<div class="secondary-headers">
			 <h2 class="second_welcome">How It Works</h2>
			  <h3 class="second-subheader">generally bad ass since 2013</h3>
			  <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
		</div>
		<div class="welcomedeets-sitters">
			<img class="sitterphoto" alt="rams" src="/assets/rams.png" width="350" height="350">
			<img class="sitterphoto middlesitter" alt="rams" width="350" height="350" src="/assets/jon.jpg">
			<img class="sitterphoto" alt="Des" src="/assets/des.jpg" height="350" width="350"> 
		</div>
	</div>
</div>



