<div class="masthead background3" >
	<div class="container-fluid">
		<div class="welcomebox">
			<%= render partial: "signup" %>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid small-margin">
		<%= render partial: "how" %>
	</div>
  <div class="row-fluid">
		  <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
		<div class="span4">
			<img alt="rams" src="/assets/rams.png" width="350" height="350">
		</div>
		<div class="span4">
			<img alt="jon" width="350" height="350" src="/assets/jon.jpg">
		</div>
		<div class="span4">
			<img alt="Des" src="/assets/des.jpg" height="350" width="350"> 
		</div>
	</div>
</div>



