<script type="text/javascript">
  $(function () {

  	$('.signupbutton').click(function(event) {
 	  $(".welcomebox").html(
 	  	"<form accept-charset='UTF-8' action='/users' id='signup' method='post'><label for='user_name'>Username</label><input id='user_name' name='user[user-name]' type='text'><br><br><label for='user_email'>Email</label><input id='user_email' name='user[email]' type='text'><br><br><label for='user_password'>Password</label><input id='user_password' name='user[password]' type='password'><br><br><input class='submit_button' name='commit' type='submit' value='Sign Up'></form>"
		);
	});

  });
</script>



<div class="masthead">
	<div class="container">
		<div class="row">
			<div class="span6 offset3 masthead-content">
				<div class="welcomebox">
					<%= render partial: "signup" %>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="container-fluid main-container">
	<div class="row-fluid">
		<div class="span12 secondary-headers">
			 <h2 class="second_welcome">bringing dog owners together</h2>
			  <h3 class="second-subheader">bad ass since 2013</h3>
		</div>

		<div class="span4 first welcomesubbox">
			<h3 class = "subheader">Sit Someone's Dog</h3>
			<div class="welcomedeets-map"></div>
		</div>
		
		<div class="span4 welcomesubbox">
			<h3 class = "subheader">Buy and Sell Swaps</h3>
			<p class="welcomedeets"> stuff </p>
		</div>

		<div class="span4 welcomesubbox">
			<h3 class = "subheader">Find Professional Sitters</h3>
			<div class="welcomedeets-sitters"> <img class="sitterphoto" alt="Des" src="/assets/des.jpg"> 
			</div>

		</div>
	</div>
</div>



