<div class="masthead dog-background" >
	<div class="container-fluid">
		<div class="welcomebox">
			<%= render partial: "signup" %>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid small-margin">
		<%= render partial: "how" %>
	</div>
</div>



