<script type="text/javascript">
  $(function () {

 //  	$('.signupbutton').click(function(event) {
 //  		$(".welcomebox").hide();
 // 	  $(".signupholder").html(
 // 	  	"<form accept-charset='UTF-8' action='/users' id='signup' method='post'><label for='user_name'>Username</label><input id='user_name' name='user[name]' type='text'><br><br><label for='user_email'>Email</label><input id='user_email' name='user[email]' type='text'><br><br><label for='user_password'>Password</label><input id='user_password' name='user[password]' type='password'><br><br><label for='user_password_confirmation'>Password Confirmation</label><input id='user_password_confirmation' name='user[password_confirmation]' type='password'><br><br><input class='submit_button' name='commit' type='submit' value='Sign Up'></form>"
	// 	);
	// });

	// var failed = <%=@failed%>;
	// if (failed){
	// 	$(".welcomebox").hide();
	// 	 $(".signupholder").html(
 // 	  	"<form accept-charset='UTF-8' action='/users' id='signup' method='post'><label for='user_name'>Username</label><input id='user_name' name='user[name]' type='text' value='<%=@name%>'><br><br><label for='user_email'>Email</label><input id='user_email' name='user[email]' type='text' value='<%=@email%>'><br><br><label for='user_password'>Password</label><input id='user_password' name='user[password]' type='password'><br><br><label for='user_password_confirmation'>Password Confirmation</label><input id='user_password_confirmation' name='user[password_confirmation]' type='password'><br><br><input class='submit_button' name='commit' type='submit' value='Sign Up'></form>"
 // 	  	);
	// }

  	var gallery = ["url('/assets/dog3.jpeg')", "url('assets/dog2.jpg')", "url('/assets/dog.jpg')"];
  	counter = 2;
  	function swapImages(){
		$(".masthead").fadeTo('slow', 0, function() {
				if(counter==1) {
					$(this).removeClass("background3");
					$(this).addClass("background"+counter);
				}
				else {
					$(this).removeClass("background"+(counter-1));
					$(this).addClass("background"+counter);
				}
		}).fadeTo('slow', 1)
  		if (counter == 3) {
  			counter = 1;
  		}
  		else {
  			counter++;
  		}
  	}
  	// setInterval(swapImages, 5000);

  });
</script>

<div class="masthead background3" >

<div class="container">

		<div class="signupholder">
		</div>
		
			<div class="welcomebox">
				<%= render partial: "signup" %>
			</div>


	
</div>
</div>

<div class="container-fluid main-container">
	<div class="row">
		<div class="secondary-headers">
			 <h2 class="second_welcome">bringing dog owners together</h2>
			  <h3 class="second-subheader">bad ass since 2013</h3>
		</div>


			<div class="welcomedeets-sitters">

				<img class="sitterphoto" alt="rams" src="/assets/rams.png" width="350" height="350">
				<img class="sitterphoto middlesitter" alt="rams" width="350" height="350" src="/assets/jon.jpg">
				<img class="sitterphoto" alt="Des" src="/assets/des.jpg" height="350" width="350"> 
			</div>

			<div class="welcome-quotes">
				Hi April, Your website looks awesome,  Keep it up. - Love, Dad  
			<div>

	</div>
</div>





