<div class="sittingbox dogsbox">
	Dogs
	<div class="dogpics">
		<%mysittings.each(function(dog){ %>
			<div class="sittingthumbnail">
				<img class="histthumb" src=<%= dog.escape("avatar_url") %> alt="Profile">
				<%=dog.escape("name") %> 
			</div><br>
		<% }); %>
	</div>
 </div> 

 <div class="sittingbox sitters">
 	Sitters
 	<div class="sitterpics">
	 	<%mysitters.each(function(sitter) { %>
	 		<div class="sittingthumbnail">
	 		<img class="histthumb" src=<%= sitter.escape("avatar_url") %> alt="Profile">
	 		<%=sitter.escape("user_name") %> 
	 		</div><br>
	 	<% }); %>
	</div>
 </div>
