<div class="sittingbox dogs">
	Dogs
	<div class="dogpics">
		<%mysittings.each(function(sitting){ %>
			<%= sitting.escape("name") %>
		<% }); %>
	</div>
 </div> 

 <div class="sittingbox sitters">
 	Sitters
 	<div class="sitterpics">
	 	<%mysitters.each(function(sitter) { %>
	 		<%=sitter.escape("user_name") %>
	 	<% }); %>
	</div>
 </div>
