@import "bootstrap";

/* reviews tempalte */

.activereviewlist {
  color: IndianRed;
  font-size: 16px;
}

.activereviewlist:hover {
  color: rgb(57, 60, 61);
  font-size: 16px;
}

.reviewsofmydogs{
  width:600px;
  font-size: 16px;
  padding-top: 10px;
}

.reviewsofmysitting{
  width:600px;
  font-size: 16px;
  padding-top: 10px;
}

.reviewnameholder {
color: rgb(57, 60, 61);
display: block;
float: left;
font-family: 'Helvetica';
font-size: 16px;
min-height: 50px;
height: auto;
line-height: 18px;
padding-top: 15px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-right: 9px;
text-align: left;
width: 500px;
}

.reviewnameholder:hover{
  color: IndianRed;
  height: auto;
}

.reviewthread {
border-bottom-color: rgb(225, 224, 222);
border-bottom-style: solid;
border-bottom-width: 1px;
display: list-item;
font-family: 'Helvetica';
font-size: 13px;
height: auto;
min-height: 50px;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 1px;
margin-left: 0px;
margin-right: 0px;
margin-top: 1px;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 3px;
padding-left: 3px;
padding-right: 3px;
padding-top: 3px;
text-align: left;
width: 890px;
}

.reviewthread:hover {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(247, 247, 247);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-top-color: rgb(225, 224, 222);
border-top-style: solid;
border-top-width: 1px;
color: rgb(57, 60, 61);
display: list-item;
font-family: 'Helvetica';
font-size: 13px;
height: auto;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 1px;
margin-left: 0px;
margin-right: 0px;
margin-top: 1px;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 3px;
padding-left: 3px;
padding-right: 3px;
padding-top: 3px;
text-align: left;
width: 908px;
}

.reviewbox {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
display: block;
font-family: 'Helvetica';
font-size: 13px;
height: auto;
min-height: 100px;
line-height: 18px;
margin-bottom: 18px;
margin-right: 10px;
margin-top: 20px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
width: 892px;
text-align: center;
}


/* dogs template */

.dogabout {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
color: rgb(57, 60, 61);
display: block;
float: left;
font-family: 'Helvetica';
font-size: 13px;
height: auto;
line-height: 18px;
margin-bottom: 18px;
margin-right: 10px;
margin-top: 10px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
width: 603px;
min-height: 279px;;
}

.dogphoto {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
clear: both;
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica';
font-size: 13px;
height: 279px;
line-height: 18px;
margin-bottom: 10px;
margin-right: 25px;
margin-top: 10px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
text-align: center;
width: 209px;
}

/* messages template */


a:hover {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.about-me-box{
  float:left;
  height: auto;
  width: 200px;
}

.messages-list-holder {
  float:left;
  height: 500px;
  -webkit-background-clip: border-box;
}

.p-info-left {
  height: auto;
  width: 300px;
  margin-left: 30px;
  margin-right: 30px;
}

.messages-list-box{
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
float:left;

display: block;
font-family: 'Helvetica';
font-size: 13px;
min-height: 300;
height: auto;
line-height: 18px;
margin-left: 18px;
margin-bottom: 18px;
margin-right: 10px;
margin-top: 20px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
width: 648px;
}

.selectedmsgs {
  color: IndianRed;
  letter-spacing: 1px;
}

.msglink:hover {
  color: IndianRed;
}

.selectedmsgs:hover{
  text-decoration: none;
  color:#bfc2c4;
}

.msglink {
  color: #bfc2c4;
  height: 58px;
  width: 190px;
}

.inbox-link {
cursor: auto;
display: block;
font-family: 'Helvetica Neue';
font-size: 18px;
height: 18px;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-align: center;
text-decoration: none;
font-size: 25px;
text-shadow: rgb(255, 255, 255) 0px 1px 0px;
width: 190px;
zoom: 1;
padding-top: 20px;
padding-bottom: 20px;
border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.msglink:hover {
  text-decoration: none;
  color: IndianRed;
}

.inbox-nav-tabs {
border-bottom-color: rgb(57, 60, 61);
border-bottom-style: none;
border-bottom-width: 0px;
border-top-color: rgb(57, 60, 61);
border-top-style: none;
border-top-width: 0px;
display: block;
font-family: 'Helvetica';
font-size: 13px;
height: 250px;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-top: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
width: 190px;
zoom: 1;
}

.left-inbox-holder {
  float:left;
  height: 250px;
  width: 225px;
  -webkit-background-clip: border-box;
}

.inbox-tabs-box{
   background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-origin: padding-box;
  background-size: auto;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
  color: rgb(57, 60, 61);
  font-family: 'Helvetica';
  font-size: 13px;
  height: 250px;
  line-height: 18px;
  margin-bottom: 18px;
  margin-right: 10px;
  margin-top: 20px;
  min-height: 40px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  width: 225;
}

/* sittings history template */


#sittings-detail-holder {
  float:left;
  height: 500px;
  -webkit-background-clip: border-box;
}

#sittings-detail-box{
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
clear: both;
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica Neue';
font-size: 13px;
height: 279px;
line-height: 18px;
margin-bottom: 18px;
margin-right: 10px;
margin-top: 10px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
width: 892px;
}

#sittings-tabs-box{
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-origin: padding-box;
  background-size: auto;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
  color: rgb(57, 60, 61);
  font-family: 'Helvetica';
  font-size: 13px;
  height: 100px;
  line-height: 18px;
  margin-bottom: 18px;
  margin-right: 10px;
  margin-top: 20px;
  min-height: 40px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  width: 892px;
}


/* reviews template */

#reviews-closeup-box{
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
clear: both;
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
height: 279px;
line-height: 18px;
margin-bottom: 18px;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
width: 620px;
}

#reviews-I-wrote-box{
  -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
clear: both;
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
height: 279px;
line-height: 18px;
margin-bottom: 10px;
margin-right: 10px;
margin-top: 10px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
text-align: center;
width: 209px;
}

#left-reviews-box{
  float:left;
  height: 615px;
  width: 250px;
  -webkit-background-clip: border-box;
}
#right-reviews-box{
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
color: #393c3d;
display: block;
float: left;
font-family: 'Helvetica Neue';
font-size: 13px;
height: 307px;
line-height: 18px;
margin-left: 7px;
width: 670px;
}

/* profile page */

.invite-button {
float:left;
padding: 0.4em 1.2em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
text-align: center;
font-family: "Helvetica";
letter-spacing: 1px;
vertical-align: middle;
margin-bottom: 0;
margin-left: 40px;
margin-top: 30px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0 0 0.2em rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2),0 0 0 #000;
box-shadow: inset 0 0 0.2em rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2),0 0 0 #000;
background-color: #018fe1;
background-image: -webkit-linear-gradient(top, #00aeff 0%,#018fe1 100%);
background-image: -moz-linear-gradient(top, #00aeff 0%,#018fe1 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aeff', endColorstr='#ff018fe1', GradientType=0);
border: 1px solid rgba(0,0,0,0.2);
border-color: #0195eb #0083c7 #0175b8 #0083c7;
font-size: 20px;
line-height: 30px;
color: WhiteSmoke;
text-shadow: 0 -1px 0px rgba(0,0,0,0.2);
width: 600px;
text-align: center;
}

.invite-button:hover{
  background-position: 0;
  color: WhiteSmoke;
}

.invite-button:link {
  color: #fff;
}

#dashboard {
 background:WhiteSmoke;
}

.holder{
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
color: rgb(57, 60, 61);
display: block;
float: left;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
height: 615px;
line-height: 18px;
margin-left: 20px;
}

.profile-box{ 
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
color: rgb(57, 60, 61);
display: block;
float: left;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
height: 307px;
line-height: 18px;
margin-left: 7px;
margin-bottom: 40px;
width: 670px;
}

#classalerts{
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica';
font-size: 18px;
font-weight: bold;
height: 27px;
line-height: 27px;
margin-bottom: 3px;
margin-right: 0px;
margin-top: 3px;
text-rendering: optimizelegibility;
width: 657px;
}

#alerts-box{
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-origin: padding-box;
  background-size: auto;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
  color: rgb(57, 60, 61);
  font-family: 'Helvetica';
  font-size: 13px;
  height: 173px;
  line-height: 18px;
  margin-bottom: 18px;
  margin-right: 10px;
  margin-top: 20px;
  min-height: 40px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  width: 892px;
}

.dashmain {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  color: rgb(57, 60, 61);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 307px;
  line-height: 18px;
  margin-left: 7px;
  width: 707px;
}

#left-user-box {
  float:left;
  height: 615px;
  width: 250px;
  -webkit-background-clip: border-box;
}

.user-photo {
  color: rgb(57, 60, 61);
  display: block;
  float: left;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  height: 217px;
  left: -4px;
  line-height: 18px;
  margin-bottom: 5px;
  position: relative;
  text-align: center;
  top: -4px;
  width: 217px;
}

#prof-username {
  font-size: 30px;
  font-family: Helvetica;
}

#profstuff {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
clear: both;
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
height: 279px;
line-height: 18px;
margin-bottom: 10px;
margin-left: 2px;
margin-right: 10px;
margin-top: 30px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
text-align: center;
width: 209px;
}

#user-box{
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
clear: both;
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
height: 279px;
line-height: 18px;
margin-bottom: 10px;
margin-right: 10px;
margin-top: 10px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
text-align: center;
width: 209px;
}

#profile-info{
  -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
clear: both;
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
height: auto;
line-height: 18px;
margin-bottom: 18px;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
width: 620px;

}

.profile {
  background: rgb(255, 255, 255);
}

.profilebackground {
  background: WhiteSmoke ;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 970px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  width: 964px;
  margin-top: 20px;
}

.profilenavtab {
  font-size: 24px;
  padding-right: 10px;
  text-align: left;
  width: auto;
  margin-bottom: 30px;
}

.profilenavlink:hover {
    text-decoration: none;
    color: rgb(67, 77, 81);
}

#profilenav li.activedashtab a {
color: #434d51;
}

.profilenavlink {
  color: #bfc2c4;
  font-size: 24px;
  text-align: left;
  width: auto;
  font-family: Helvetica;
}

.profile-nav {
  background: rgb(255, 255, 255);
  padding: 9px;
  width: 900px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-background-clip: border-box;
  height: 23px;
  font-family: Helvetica;
}

ul {
    list-style: none;
}

li {
  text-align: -webkit-match-parent;
}

#profilenav li{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  background: WhiteSmoke;
  font-family: Helvetica;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.global {
  color: #434d51;
  background-color: WhiteSmoke;
  height: 70px;
  font-style: 'Helvetica';
}

.alert {

  background: WhiteSmoke;
  text-align: center;
  color: Maroon;
  border-radius: 0;

}

.search-query {
  margin-left: 20px;
}

#navbutton{
  background: Gold;
  color: black;
}


#login, #signup {
  color: black;
  font-family: 'Helvetica';
  font-size: 15px;
  font-weight: lighter;
}

.navbar {
  margin-bottom: 0;
}
.navbar-inner {
	margin-bottom: 0px;
	background: WhiteSmoke;
	border-radius: 0;
}

#masthead-title {
  font-size: 60px;
  letter-spacing: .75px;
  font-family: 'Ovo', serif;
}

#masthead-subtitle{
  color: WhiteSmoke; 
  font-weight: 200;
  letter-spacing: .75px;
}

.masthead {
	background-image:url("http://placekitten.com/g/1600/2400");
	background-size: cover;
	min-height: 550px;
}

.center {
  text-align: center;
}

#About_us {
  line-height: 1;
  color: Maroon;
}

.center h1 {
  margin-bottom: 10px;
}

.masthead-content {
	text-align: center;
	margin-top:  120px;
	padding: 20px;
	background: IndianRed;
}

.button {
	font-size: 20px;
	border: 2px solid WhiteSmoke;
	background: IndianRed;
	padding: 10px;
	color: white;
	display: inline-block;
	margin-bottom: 15px;
  font-family: 'Ovo', serif;
}

.button:hover {
  background: WhiteSmoke;
  color: IndianRed;
  text-decoration: none;
}

form.signup_form {
	text-align: center;
	padding: 75px;
	height: 600px;
	background: IndianRed;
}

.second_welcome{
  font-family: 'Ovo', serif;
}

.navbar .navbar-inner .nav a {
  font-size: 1.7em;
  font-weight: bolder;
  letter-spacing: -1px;
  text-align: center;
  font-family: 'Ovo', serif;
  color: IndianRed;

}
/* typography */

.masthead-content {
	color: WhiteSmoke;
}

#hellolinks a {
	color: WhiteSmoke;
  font-weight: 200;
  font-size: 15px;
}

.secondary-headers {
  margin-top: 15px;
  text-align: center;
  color: Maroon;
  font-size: 30px;
}

.second-subheader {
  font-family: 'Ovo', serif;
}

.subheader {
  color: DarkSlateGray;
  text-align: center;
  font-weight: 300;
}

.welcomedeets {
  text-align: center;
}

.welcomedeets-map {
  height: 400px;
  margin: 20px;
  background-image:url("http://maps.googleapis.com/maps/api/staticmap?center=Berkeley,CA&zoom=12&size=400x400&markers=color:red%7C94710%7C94618%7C94702%7C94618%7C94609%7C94707%7C94706%7C94707%7C94705&sensor=false");
  border-radius: 6px;
}

.welcomedeets-sitters{
  border-radius: 10px;
  margin: 20px;
}

.welcomesubbox {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
color: rgb(57, 60, 61);
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
float: left;
height: 500px;
line-height: 18px;
margin-bottom: 10px;
margin-top: 10px;
padding-bottom: 15px;
padding-left: 5px;
padding-right: 5px;
padding-top: 15px;
text-align: center;
width: 200px;
}

.sitterphoto {
  border-radius: 7px;
}

.span4.first {
  margin-left: 0;
  text-align: center;
}

.span4{
  text-align: center;
}

/* sitting request search */

#map_canvas {
  width: 500px;
  height: 400px;
  background:gray;
}


/* user sign up page */

.signin_title {

  color: Maroon;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
}

.signup_background {
  background-image:url("http://placekitten.com/g/1600/2400");
  background-size: cover;
  min-height: 550px;

}

.span4 {
  text-align: left;
}

label {
  color: WhiteSmoke;
  font-size: 20px;
}

.textbox1 {
  background: blue;
}

#signup {
  padding-top: 100px;
  font-family: 'Ovo', serif;
}

.submit_button {

    font-family: 'Ovo', serif;
    background: IndianRed; 
    color: WhiteSmoke;
    font-size: 20px;
    padding:10px;
    border-width: 0;
}

.submit_button:hover {
  background: Maroon;
  color: white;
  text-decoration: none;
  border-width: 0;
}

label {
    display:block; 
    padding-bottom:5px; 
    margin-top:20px;
}

#signup_lower {
  background: IndianRed;
}

/* Profile Page */

.profile_title {
  color: WhiteSmoke;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.profile_title:hover {
  color: IndianRed;
  text-decoration: none;
}


.profile-bar-subs {
  float: right;
}

.profile-title-search {
  color: IndianRed;
}

.profile-title-search:hover {
  color: WhiteSmoke;
  text-decoration: none;
}

.profile-logout {
  color: WhiteSmoke;
  display: inline;
  font-size: 15px;
  margin-left: 10px;
}

.profile-logout:hover {
  text-decoration: none;
  color: IndianRed;
}

.profheader {
  display: inline;
}

.profileheader {
  background-color: black;
  height: 70px;
}

.headerprofile {
  font-size: 80px;
  margin: 50px;
  font-family: 'Ovo', serif;

}

.profile-header {
  display: inline;
}

.tab-titles {
  color:gray;
}

.profiletop {

  min-height: 200px;
}


.totals {
  font-size: 150%;
  font-weight: bold;
  color: IndianRed;
  
}

.profilebottom {
  min-height: 500px;
  background: white;
  border-top: solid;
  border-width: 1px;
  border-color: LightGray;
}

.totals {
  height: 10px;
  margin: 30px;
  font-size: 20px;
}


.numstotals {
  margin-top: 40px;
}

nav {
  display: block;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;

}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h3 {
   margin-bottom: 30px;
}

h4 {
   
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
 
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}