/*  Variables  */

$berry: #C42045;
$gray: #696876;
$dark-gray: #333333;
$light-beige: #FFFFFC;

/* Containers */

html {
  overflow-y: scroll;
}

body {
  background: $light-beige;
  font-family: 'Helvetica';
  min-width: 1200px;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.global {
  color: #434d51;
  background-color: $light-beige;
  height: 70px;
  font-style: 'Helvetica';
}

#footer {
  height: 240px;
  color: #FFF5FE;
  background: #333333;
}

.alert {
  background: $light-beige;
  text-align: center;
  color: 4878A8;
  border-radius: 0;
}

.large-container {
  width: 1100px;
  margin: auto;
}

/* Nav Bar */

.navbar {
  margin-bottom: 0;
  position: absolute;
  z-index: 1;
  background: transparent;
}

.navbar-inner {
  margin-bottom: 0px;
  background: transparent;
  border: transparent;
  min-height: 0px !important; 
}

.navbar-inner li a{
  margin-left: 30px;
  color: $light-beige !important;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Ovo';
  text-shadow: none !important; 
}

/* Headers */


h1, h2, h3, h4, h5, h6 {
  line-height: 1;

}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  font-family: 'Helvetica';
}

h3 {
   margin-bottom: 30px;
}

h4 {
   
}

p {
  font-family: 'Helvetica';
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Box Model */

.small-margin {
  margin: 30px;
}

.small-left-margin {
  margin-left: 30px;
}

.medium-margin {
  margin: 50px;
}

.small-top-padding {
  padding-top: 30px;
}

.small-bottom-padding {
  padding-bottom: 30px;
}

.small-top-margin {
  margin-top: 30px;
}

.tiny-top-margin {
  margin-top: 15px;
}

.micro-top-margin {
  margin-top: 3px;
}

/* Fonts */

.italic {
  font-style: italic;
}

p.light{
  color: #FFF5FE;
  font-weight: lighter;
}

/* Links */

a.dark-link {
  color: #333333;
}

a.dark-link:hover {
  color: #A4FF00; 
}

/* Buttons */

.greenbtn:hover {
  background: #FFF5FE;
  color: #A4FF00; 
  border:1px solid #A4FF00;
}

.cherrybtn {
  font-size: 20px;
  background: $berry;
  padding: 10px;
  color: white;
  display: inline-block;
  margin-bottom: 15px;
  font-family: 'Ovo', serif;
}

.cherrybtn:hover {
  background: #FFF5FE;
  color: $berry;
  text-decoration: none;
}


/* EVERYTHING BELOW IS OLD CODE */

.background3 {
  background-image:url("longer-background.jpg");
  background-size: cover;
  min-height: 550px;
}

.background2 {
  background-image:url("dog2.jpg");
  background-size: cover;
  min-height: 550px;
  background-position: 0px -50px;
}

.background1 {
  background-image:url("dog1.jpg");
  background-size: cover;
  min-height: 550px;
}


/*Sitting Request Show */
.dates {
  font-family: 'Helvetica';
  padding-top: 20px;
}

.already-offered{
  padding: 20px;
  color: #cc0066;
  font-family: 'Ovo', serif;
  font-size: 20px;
  text-align: center;
}

.requestbutton {
padding: 0.4em 1.2em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-family: "Helvetica";
letter-spacing: 1px;
vertical-align: middle;
margin-bottom: 0;
margin-top: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0 0 0.2em rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2),0 0 0 #000;
box-shadow: inset 0 0 0.2em rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2),0 0 0 #000;
background-color: #018fe1;
background-image: -webkit-linear-gradient(top, #00aeff 0%,#018fe1 100%);
background-image: -moz-linear-gradient(top, #00aeff 0%,#018fe1 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aeff', endColorstr='#ff018fe1', GradientType=0);
border: 1px solid rgba(0,0,0,0.2);
border-color: #0195eb #0083c7 #0175b8 #0083c7;
font-size: 14px;
line-height: 30px;
color: #FFF5FE;
text-shadow: 0 -1px 0px rgba(0,0,0,0.2);
width: 300px;
text-align: center;
clear: both;
}

.request-btwn {
  color: LightGray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.request-dates-head {
  font-size: 35px;
}

.request-name {
  font-family: 'Ovo', serif;
  font-size: 30px;
  margin-bottom: 20px;
}

#center-col-request{
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.request-left-panel{
  width: 300px;
  margin-right: 0px;
  float: left;
  height: auto;
  margin-left: 40px;
}

#request-details-box {
margin-left: 10px;

-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-border-image: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
color: rgb(0, 0, 0);
display: inline-block;
font-family: 'Helvetica';
font-style: normal;
font-variant: normal;
font-weight: normal;
height: auto;
min-height: 465px;
line-height: 19px;
margin-bottom: 20px;
margin-left: 0px;
padding-bottom: 20px;
padding-left: 30px;
padding-right: 30px;
padding-top: 20px;
vertical-align: top;
width: 400px;
zoom: 1;
text-align: left;
}

.request-holder{
  margin-top: 60px;
  min-width: 1300px;
  margin-right: auto;
  margin-left: 50px;
}

#request-photo-box{
  margin-right: 20px;
  float:left;

-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-border-image: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
color: rgb(0, 0, 0);
display: inline-block;
font-family: 'Helvetica';
font-style: normal;
font-variant: normal;
font-weight: normal;
height: auto;
line-height: 19px;
margin-bottom: 20px;
margin-left: 0px;
padding-bottom: 20px;
padding-left: 30px;
padding-right: 30px;
padding-top: 20px;
vertical-align: top;
width: auto;
zoom: 1;
text-align: center;
}

#request-dates-box{
  float: left;

-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-border-image: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
color: rgb(0, 0, 0);
display: inline-block;
font-family: 'Helvetica';
font-style: normal;
font-variant: normal;
font-weight: normal;
height: auto;
line-height: 19px;
margin-bottom: 20px;
margin-left: 30px;
padding-bottom: 20px;
padding-left: 30px;
padding-right: 30px;
padding-top: 20px;
vertical-align: top;
width: auto;
zoom: 1;
text-align: center;
}


/* user profile redesign */

.profile-text{
  font-family: 'Ovo', serif;
}

.profile-image{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.left-profile-panel{
  float: left;
}

.display-user-info{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  text-align: center;
  height: auto;
  width: auto;
  font-family: 'Helvetica';
  font-size: 22px;
  clear: both;
}

.about-me{
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: LightGray;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 10px;
}

.profile-pic {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  font-family: 'Ovo', serif;
  }

.profile-alert {
  display: inline;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  font-family: 'Ovo', serif;
}

.profile-alert-center{
  display: inline;
  border-left-style: solid;
  border-left-color: LightGray;
  border-right-style: solid;
  border-right-color: LightGray;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  font-family: 'Ovo', serif;
}

.border-box {
  border-color: #e0e0e0;
  border-style: solid;
  border-width: 1px
}

.hidden {
  display: none;
}

.upload-button {
  height: 200px;
  width: 200px;
  border-style: dashed;
  border-width: 2px;
  border-color: #e0e0e0;
}

.user-profile-form {
margin-top: 20px;
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-border-image: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.04706) 0px 1px 1px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: white;
background-origin: padding-box;
background-size: auto;
border-bottom-color: #e0e0e0;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: #e0e0e0;
border-left-style: solid;
border-left-width: 1px;
border-right-color: #e0e0e0;
border-right-style: solid;
border-right-width: 1px;
border-top-color: #e0e0e0;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.04706) 0px 1px 1px 0px;
color: black;
display: block;
font-family: 'Helvetica';
font-style: normal;
font-variant: normal;
font-weight: normal;
height: auto;
line-height: 19px;
margin-bottom: 20px;
margin-right: auto;
margin-left: auto;
padding-bottom: 20px;
padding-left: 2px;
padding-right: 2px;
padding-top: 20px;
vertical-align: top;
width: 614px;
text-align: center;
}

/* new request form */


.earn_swaps_button{
  padding: 0.4em 1.2em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
text-align: center;
font-family: "Helvetica";
letter-spacing: 1px;
vertical-align: middle;
margin-top: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0 0 0.2em rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2),0 0 0 #000;
box-shadow: inset 0 0 0.2em rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2),0 0 0 #000;
background-color: #018fe1;
background-image: -webkit-linear-gradient(top, #00aeff 0%,#018fe1 100%);
background-image: -moz-linear-gradient(top, #00aeff 0%,#018fe1 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aeff', endColorstr='#ff018fe1', GradientType=0);
border: 1px solid rgba(0,0,0,0.2);
border-color: #0195eb #0083c7 #0175b8 #0083c7;
font-size: 14px;
line-height: 30px;
color: #FFF5FE;
text-shadow: 0 -1px 0px rgba(0,0,0,0.2);
width: 100px;
text-align: center;
clear: both;

}

.new-request-button{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-family: "Helvetica";
letter-spacing: 1px;
vertical-align: middle;
margin-bottom: 0;
margin-left: 0px;
margin-top: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0 0 0.2em rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2),0 0 0 #000;
box-shadow: inset 0 0 0.2em rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2),0 0 0 #000;
background-color: #018fe1;
background-image: -webkit-linear-gradient(top, #00aeff 0%,#018fe1 100%);
background-image: -moz-linear-gradient(top, #00aeff 0%,#018fe1 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aeff', endColorstr='#ff018fe1', GradientType=0);
border: 1px solid rgba(0,0,0,0.2);
border-color: #0195eb #0083c7 #0175b8 #0083c7;
font-size: 14px;
line-height: 30px;
color: #FFF5FE;
padding: 0.4em 1.2em;
text-shadow: 0 -1px 0px rgba(0,0,0,0.2);
width: 100px;
text-align: left;
clear: both;
}

.cash-out-option {
  border-top-style: solid;
  border-top-color: LightGray;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 500px;
  font-size: 18px;
}

#select-nights{
  width: 60px;
}

#swapfromdirectios{
  margin-left: 300px;
}

#swapformintro {
margin-top: 30px;
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-border-image: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
color: rgb(0, 0, 0);
display: block;
font-family: 'Helvetica';
font-style: normal;
font-variant: normal;
font-weight: normal;
height: auto;
line-height: 19px;
margin-bottom: 20px;
margin-right: auto;
margin-left: auto;
padding-bottom: 20px;
padding-left: 2px;
padding-right: 2px;
padding-top: 20px;
vertical-align: top;
width: 614px;
zoom: 1;
text-align: center;
}


.welcomebox{
text-align:center;
margin-top: 225px;
margin-left: 100px;

}

.notice {
  font-family: 'Helvetica';
  background: black;
  color: #FFF5FE;
  width: 300px;
  height:auto;
  float:right;
}

.alert {
  font-family: 'Helvetica';
  background: black;
  color: #FFF5FE;
  width: 300px;
  height:auto;
  float:right;
}

#newuserbox{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  color: black;
}

.check_box {
  color:black;
}

#center-col{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.new_user{
background: #FFF5FE;
color: black;
font-family: 'Helvetica';
font-size: 15px;
font-weight: lighter;
padding-right: 30px;
padding-left: 30px;
padding-bottom: 30px;
text-align: center;
}

#signuptitle{
  margin-top: 70px;
  width: 300px;
  font-family: 'Ovo', serif;
  font-size: 40px;
  font-weight: bolder;
  margin-right: auto;
  margin-left: auto;
}

.masthead {
  position: relative;
}

.wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

.signupholder{
  max-width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}


/* maps */

#alert{
  margin-top: 10px;
}

.formmap{
  display: block;
}




#mapbutton {
padding: 0.4em 1.2em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
text-align: center;
font-family: "Helvetica";
letter-spacing: 1px;
vertical-align: middle;
margin-bottom: 0;
margin-left: 40px;
margin-top: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0 0 0.2em rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2),0 0 0 #000;
box-shadow: inset 0 0 0.2em rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2),0 0 0 #000;
background-color: #018fe1;
background-image: -webkit-linear-gradient(top, #00aeff 0%,#018fe1 100%);
background-image: -moz-linear-gradient(top, #00aeff 0%,#018fe1 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aeff', endColorstr='#ff018fe1', GradientType=0);
border: 1px solid rgba(0,0,0,0.2);
border-color: #0195eb #0083c7 #0175b8 #0083c7;
font-size: 14px;
line-height: 30px;
color: #FFF5FE;
text-shadow: 0 -1px 0px rgba(0,0,0,0.2);
width: 100px;
text-align: center;
clear: both;
}

#date-end {
  clear:both;
  }

.request-dates {
  margin-top: 30px;
  text-align: right;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 300px;
  overflow: auto;
}

.new_request-dates {
  margin-top: 30px;
  text-align: left;
  margin-left: 60px;
  position: relative;
  width: 300px;
  overflow: auto;
}

.date-start {
  margin-left: 10px;
}



#map-canvas {
  width: 900px;
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  float: left;
  margin-right: 0px;
}

#map-canvas-request {
  width: 300px;
  margin-left: 30px;
  top: 0;
  left: 0;
  height: auto;
  float: left;
  margin-right: 0px;
  padding-right: 0px;
}

#request-map {
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
}


#map-canvas img{
  max-width: none;
}

#map-search img{
  float: right;
  width: 300px;

    overflow: auto;
}
#date-heading {
  font-family: 'Helvetica';
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
  color: rgb(57, 60, 61);
}


/*history template */
.dogpics{
  margin-top: 20px;
  font-size: 18px;
  color:rgb(57, 60, 61);
  height: auto;
}

.sitterpics{
  margin-top: 20px;
  font-size: 18px;
  color:rgb(57, 60, 61);
}

.sittingbox{
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
  color: rgb(57, 60, 61);
  display: block;
  float: left;
  font-family: 'Helvetica';
  font-size: 18px;
  height: auto;
  min-height: 200px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 25px;
  margin-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
 
  padding-top: 15px;
  text-align: left;
  width: 415px;
}


/* reviews tempalte */

.activereviewlist {
  color: #cc0066;
  font-size: 16px;
}

.activereviewlist:hover {
  color: rgb(57, 60, 61);
  font-size: 16px;
}

.reviewsofmydogs{
  width:600px;
  font-size: 16px;
  padding-top: 10px;
}

.reviewsofothersitters {
  width:600px;
  font-size: 16px;
  padding-top: 10px;
}

.reviewsofmysitting{
  width:600px;
  font-size: 16px;
  padding-top: 10px;
}

.reviewsofotherdogs{
  width:600px;
  font-size: 16px;
  padding-top: 10px;
}

.reviewnameholder {
color: rgb(57, 60, 61);
display: block;
float: left;
font-family: 'Helvetica';
font-size: 16px;
min-height: 50px;
height: auto;
line-height: 18px;
padding-top: 15px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-right: 9px;
text-align: left;
width: 500px;
}

.reviewnameholder:hover{
  color: #cc0066;
  height: auto;
}

.reviewthread {
border-bottom-color: rgb(225, 224, 222);
border-bottom-style: solid;
border-bottom-width: 1px;
display: list-item;
font-family: 'Helvetica';
font-size: 13px;
height: auto;
min-height: 50px;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 1px;
margin-left: 0px;
margin-right: 0px;
margin-top: 1px;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 3px;
padding-left: 3px;
padding-right: 3px;
padding-top: 3px;
text-align: left;
width: 890px;
}

.reviewthread:hover {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(247, 247, 247);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-top-color: rgb(225, 224, 222);
border-top-style: solid;
border-top-width: 1px;
color: rgb(57, 60, 61);
display: list-item;
font-family: 'Helvetica';
font-size: 13px;
height: auto;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 1px;
margin-left: 0px;
margin-right: 0px;
margin-top: 1px;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 3px;
padding-left: 3px;
padding-right: 3px;
padding-top: 3px;
text-align: left;
width: 908px;
}

.reviewbox {
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
display: block;
font-family: 'Helvetica';
font-size: 13px;
height: auto;
min-height: 100px;
line-height: 18px;
margin-bottom: 18px;
margin-right: 10px;
margin-top: 20px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
width: 892px;
text-align: center;
}


/* dogs template */


.dogabout {
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
color: rgb(57, 60, 61);
display: block;
float: left;
font-family: 'Helvetica';
font-size: 16px;
height: auto;
line-height: 18px;
margin-bottom: 18px;
margin-right: 10px;
margin-top: 10px;
min-height: 40px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
width: 603px;
min-height: 360px;;
}

.add-dog{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.dogphotoinner{
  height: 279px;
  margin-bottom: 15px;
}

.dogstat{
  font-size: 14;
}

.dstatlabel{
  width: 30px;

}

#dogphotoupdate{
  margin-top: 5px;
}

.dog-photo-box-lower{
  font-size: 18px;
  margin-top: 30px;
  padding-top: 10px;
}

.dogphoto {
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
color: rgb(57, 60, 61);
font-family: 'Helvetica';
font-size: 18px;
height: auto;
line-height: 18px;
margin-bottom: 10px;
margin-right: 25px;
margin-top: 10px;
min-height: 40px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
position: relative;
text-align: center;
width: 209px;
}

/* messages template */


a:hover {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.about-me-box{
  float:left;
  height: auto;
  width: 200px;
}

.messages-list-holder {
  float:left;
  height: 500px;
  -webkit-background-clip: border-box;
}

.p-info-left {
  height: auto;
  width: 300px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 10px;
  float:left;
}

#updatefullphotolink{
  clear: both;
}

.messages-list-box{
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
float:left;

display: block;
font-family: 'Helvetica';
font-size: 13px;
min-height: 300;
height: auto;
line-height: 18px;
margin-left: 18px;
margin-bottom: 18px;
margin-right: 10px;
margin-top: 20px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
width: 648px;
}

.selectedmsgs {
  color: #cc0066;
  letter-spacing: 1px;
}

.msglink:hover {
  color: #cc0066;
}

.selectedmsgs:hover{
  text-decoration: none;
  color:#bfc2c4;
}

.msglink {
  color: #bfc2c4;
  height: 58px;
  width: 190px;
}

.inbox-link {
cursor: auto;
display: block;
font-family: 'Helvetica Neue';
font-size: 18px;
height: 18px;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-align: center;
text-decoration: none;
font-size: 25px;
text-shadow: rgb(255, 255, 255) 0px 1px 0px;
width: 190px;
zoom: 1;
padding-top: 20px;
padding-bottom: 20px;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
}

.msglink:hover {
  text-decoration: none;
  color: #cc0066;
}

.inbox-nav-tabs {
border-bottom-color: rgb(57, 60, 61);
border-bottom-style: none;
border-bottom-width: 0px;
border-top-color: rgb(57, 60, 61);
border-top-style: none;
border-top-width: 0px;
display: block;
font-family: 'Helvetica';
font-size: 13px;
height: 250px;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-top: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
width: 190px;
zoom: 1;
}

.left-inbox-holder {
  float:left;
  height: 250px;
  width: 225px;
  -webkit-background-clip: border-box;
}

.inbox-tabs-box{
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
  color: rgb(57, 60, 61);
  font-family: 'Helvetica';
  font-size: 13px;
  height: 250px;
  line-height: 18px;
  margin-bottom: 18px;
  margin-right: 10px;
  margin-top: 20px;
  min-height: 40px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  width: 225;
}

/* sittings history template */

.sittingthumbnail {
border-bottom-color: #e1e0de;
border-bottom-style: solid;
border-bottom-width: 1px;
display: list-item;
font-family: 'Helvetica';
font-size: 13px;
height: auto;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 1px;
margin-left: 0px;
margin-right: 0px;
margin-top: 1px;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 3px;
padding-left: 3px;
padding-right: 3px;
padding-top: 3px;
text-align: left;
width: 300px;
}

.histthumb{
  height: 50px;
  width: 50px;
}


#sittings-detail-holder {
  float:left;
  height: 500px;
  -webkit-background-clip: border-box;
}

#sittings-detail-box{
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
clear: both;
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica Neue';
font-size: 13px;
height: 279px;
line-height: 18px;
margin-bottom: 18px;
margin-right: 10px;
margin-top: 10px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
width: 892px;
}

#sittings-tabs-box{
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-origin: padding-box;
  background-size: auto;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
  color: rgb(57, 60, 61);
  font-family: 'Helvetica';
  font-size: 13px;
  height: 100px;
  line-height: 18px;
  margin-bottom: 18px;
  margin-right: 10px;
  margin-top: 20px;
  min-height: 40px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  width: 892px;
}


/* reviews template */

#reviews-closeup-box{
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
clear: both;
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
height: 279px;
line-height: 18px;
margin-bottom: 18px;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
width: 620px;
}

#reviews-I-wrote-box{
  -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
clear: both;
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
height: 279px;
line-height: 18px;
margin-bottom: 10px;
margin-right: 10px;
margin-top: 10px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
text-align: center;
width: 209px;
}

#left-reviews-box{
  float:left;
  height: 615px;
  width: 250px;
  -webkit-background-clip: border-box;
}
#right-reviews-box{
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
color: #393c3d;
display: block;
float: left;
font-family: 'Helvetica Neue';
font-size: 13px;
height: 307px;
line-height: 18px;
margin-left: 7px;
width: 670px;
}

/* update profile */

.profile-label{
  font-size: 13px;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #333;
}

#user_address{
  width: 392px;
  border-radius: 3px;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  color: rgb(85, 85, 85);
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
}

#user_about_me {
  width: 405px;
  color:  rgb(85, 85, 85);
}

#user_pet_about{
  width: 405px;
}

.update-title{
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Helvetica';
  text-align: left;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.dog-update-form{
  border-top-color: LightGray;
  border-top-style: solid;
  border-top-width: 1px;
}

.update-title-dog{
  font-family: 'Helvetica';
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 30px;
  text-align: left;
  width: 400px;
}

.update-profile{
  float: left;
}

#user_avatar {
  width: 380px;
}

#user_pet_avatar{
  width: 380px;
}

#user_pet_age{
  width: 50px;
}

.update-form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.update-profile {
  font-size: 20px;
  font-family: 'Ovo', serif;
}

/* profile page */

.invite-button {
padding: 0.4em 1.2em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
text-align: center;
font-family: "Helvetica";
letter-spacing: 1px;
vertical-align: middle;
margin-bottom: 0;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0 0 0.2em rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2),0 0 0 #000;
box-shadow: inset 0 0 0.2em rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.2),0 0 0 #000;
background-color: #018fe1;
background-image: -webkit-linear-gradient(top, #00aeff 0%,#018fe1 100%);
background-image: -moz-linear-gradient(top, #00aeff 0%,#018fe1 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aeff', endColorstr='#ff018fe1', GradientType=0);
border: 1px solid rgba(0,0,0,0.2);
border-color: #0195eb #0083c7 #0175b8 #0083c7;
font-size: 20px;
line-height: 30px;
color: #FFF5FE;
text-shadow: 0 -1px 0px rgba(0,0,0,0.2);
width: 600px;
text-align: center;
}

.flglogo {  
 
  
  width: 100px;
  margin: 0px;
  display: block;
  position: relative;
  z-index: 2;
}

.invite-button:hover{
  background-position: 0;
  color: #FFF5FE;
}

.invite-button:link {
  color: #fff;
}

#dashboard {
 background:#FFF5FE;
}

.holder{
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
color: rgb(57, 60, 61);
display: block;
float: left;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
height: 615px;
line-height: 18px;
margin-left: 20px;
}

.profile-box{ 
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
color: rgb(57, 60, 61);
display: block;
float: left;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
height: auto;
line-height: 18px;
margin-left: 7px;

width: 670px;
}

#classalerts{
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica';
font-size: 18px;
font-weight: bold;
height: 27px;
line-height: 27px;
margin-bottom: 3px;
margin-right: 0px;
margin-top: 3px;
text-rendering: optimizelegibility;
width: 657px;
}

#alerts-box{
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
  color: rgb(57, 60, 61);
  font-family: 'Helvetica';
  font-size: 13px;
  height: 173px;
  line-height: 18px;
  margin-bottom: 18px;
  margin-right: 10px;
  margin-top: 20px;
  min-height: 40px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  width: 892px;
}

.dashmain {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  color: rgb(57, 60, 61);
  display: block;
  font-family: 'Helvetica';
  font-size: 13px;
  height: 307px;
  line-height: 18px;
  margin-left: 7px;
  width: 707px;
}

#left-user-box {
  font-family: 'Helvetica';
  float: left;
  font-size: 20px;
  color: #cc0066;
  font-weight: bold;
  height: 615px;
  width: 250px;
  -webkit-background-clip: border-box;
}

#updatephoto{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
}

#photo-box-lower{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom:10px;
}

.user-photo {
  color: rgb(57, 60, 61);
  display: block;
  font-family: 'Helvetica';
  font-size: 13px;
  height: auto;
  left: -4px;
  line-height: 18px;
  margin-bottom: 5px;
  position: relative;
  text-align: center;
  top: -4px;
  width: 217px;
}

#prof-username {
  font-size: 30px;
  font-family: Helvetica;
}

#profstuff {
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
clear: both;
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica';
font-size: 13px;
height: 279px;
line-height: 18px;
margin-bottom: 10px;
margin-left: 2px;
margin-right: 10px;
margin-top: 30px;
min-height: 40px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
text-align: center;
width: 209px;
}

#user-box{
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
clear: both;
font-size: 20px;
color: rgb(67, 77, 81);
font-weight: bold;
display: block;
font-family: 'Helvetica';
height: auto;
line-height: 18px;
margin-bottom: 10px;
margin-right: 10px;
margin-top: 10px;
min-height: 40px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 5px;
padding-top: 15px;
position: relative;
text-align: center;
width: 209px;
}


.profstat{
  font-size: 14px;
  font-family: 'Helvetica';
  color: rgb(137, 145, 156);
  display:inline;
  width: 400px;
  margin-top: 5px;
    margin-bottom: 5px;
}
.profentry{
  font-size: 16px;
  font-family: 'Helvetica';
  color: #333;
  display:inline;
  margin-top: 5px;
  margin-bottom: 5px;
}

#profile-info{
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
color: rgb(57, 60, 61);
display: block;
font-family: 'Helvetica';
font-size: 14px;
height: auto;
min-height: 280px;
line-height: 18px;
margin-bottom: 18px;
margin-left: 10px;
margin-right: 10px;
margin-top: 12px;
margin-left: 0px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
width: 620px;

}

.profile {
  background: rgb(255, 255, 255);
}

.profilebackground {
  background: #FFF5FE ;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 1000px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  width: 964px;
  margin-top: 10px;
}

.profilenavtab {
  font-size: 24px;
  padding-right: 10px;
  text-align: left;
  width: auto;
  margin-bottom: 30px;
}

.profilenavlink:hover {
    text-decoration: none;
    color: rgb(67, 77, 81);
}

#profilenav li.activedashtab a {
color: #434d51;
}

.profilenavlink {
  color: #bfc2c4;
  font-size: 24px;
  text-align: left;
  width: auto;
  font-family: Helvetica;
}

.profile-nav {
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(224, 224, 224);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(224, 224, 224);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(224, 224, 224);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(224, 224, 224);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
  background: rgb(255, 255, 255);
  padding: 9px;
  padding-top: 10px;
  width: 900px;
  height: 23px;
  font-family: Helvetica;
}

ul {
    list-style: none;
}

li {
  text-align: -webkit-match-parent;
}

#profilenav li{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}


#navbutton{
  background: Gold;
  color: black;
}


#signup {
background: #cc0066;
color: black;
font-family: 'Helvetica';
font-size: 15px;
font-weight: lighter;
padding-right: 30px;
padding-left: 30px;
padding-top: 30px;
padding-bottom: 30px;
}

#masthead-title {
  font-size: 60px;
  letter-spacing: .75px;
  font-family: 'Ovo', serif;
}

.container {
  margin-left: 175px;

}

#masthead-subtitle{
  color: #FFF5FE; 
  font-weight: 200;
  letter-spacing: .75px;
  font-size: 35px;
}


.center {
  text-align: center;
}

#About_us {
  line-height: 1;
  color: 4878A8;
}

.center h1 {
  margin-bottom: 10px;
}

.nav-content {
	text-align: center;
	margin-top:  120px;
	padding: 20px;
	background: #cc0066;
}

a:hover {
  color: #B602D9;
}

#fb-option{
  font-family: 'Ovo', serif;
  text-align: center;
}

.login{
  color: black;
  font-size: 16px;
  font-family: 'Helvetica';

}


.second_welcome{
  font-family: 'Ovo', serif;
}

/*.logo{
  font-size: 1.7em;
  font-weight: bolder;
  letter-spacing: -1px;
  text-align: center;
  font-family: 'Ovo', serif;
  color: #cc0066;

}*/
/* typography */

.masthead-content {
	color: #FFF5FE;
}

a:link {
	color: #FFF5FE;
  font-weight: 200;
  font-size: 15px;
}

a:visited {
  color: #FFF5FE;
}

a:hover {
  color: #B602D9;
}

.featured-container{
  width: 1050px;
}

.secondary-headers {
  margin-top: 15px;
  text-align: center;
  color: 4878A8;
  font-size: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 940px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom-color: rgb(49, 50, 51);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.0980392);
}

.second-subheader {
  font-family: 'Ovo', serif;
}

.subheader {
  color: DarkSlateGray;
  text-align: center;
  font-weight: 300;
}

.welcomedeets {
  text-align: center;
}

.middlesitter{
  margin-right: 20px;
  margin-left: 20px;
}

.welcome-quotes{
margin-bottom: 60px;
margin-top: 60px;
font-family: 'Helvetica';
font-size: 16px;
letter-spacing: 1px;
opacity: 0.6;
text-align: center;
}

.welcomedeets-map {
  height: 400px;
  margin: 20px;
  background-image:url("http://maps.googleapis.com/maps/api/staticmap?center=Berkeley,CA&zoom=12&size=400x400&markers=color:red%7C94710%7C94618%7C94702%7C94618%7C94609%7C94707%7C94706%7C94707%7C94705&sensor=false");
  border-radius: 6px;
}

.welcomedeets-sitters{
  margin: 20px;
  width: 1100px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
  border-bottom-color: rgb(49, 50, 51);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.0980392);

}

.welcomesubbox {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 3px 0px;
color: rgb(57, 60, 61);
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
float: left;
height: 500px;
line-height: 18px;
margin-bottom: 10px;
margin-top: 10px;
padding-bottom: 15px;
padding-left: 5px;
padding-right: 5px;
padding-top: 15px;
text-align: center;
width: auto;
}

.sitterphoto {
}

.span4.first {
  margin-left: 0;
  text-align: center;
}

.span4{
  text-align: center;
}

/* sitting request search */

#map_canvas {
  width: 500px;
  height: 400px;
  background:gray;
}

.popup {
  
}

.mapdogpic {

}


/* user sign up page */



label {
  color: #FFF5FE;
  font-size: 20px;
}

.user_submit_button{

    font-family: 'Helvetica';
    background: #F07830; 
    color: #FFF5FE;
    font-size: 20px;
    padding:10px;
    border-width: 0;
    width: 250px;
}

.user_submit_button:hover{

    background: #d86c2b; 
}

.success_button {
  color: #A4FF00;
}


.greenbtn {
  color: #333333;
  background: #A4FF00;
  height: 40px;
  border:1px solid #dcdcdc;
  font-weight:bold;
  font-family: 'Ovo', serif;
  line-height: 3;
}

.roundbtn {
  border-radius: 5px;
}

.submit_button:hover {
  background: 4878A8;
  color: white;
  text-decoration: none;
  border-width: 0;
}

label {
    display:block; 
    padding-bottom:5px; 
    margin-top:20px;
}

/* Profile Page */

.profile_title {
  color: #FFF5FE;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.profile_title:hover {
  color: #cc0066;
  text-decoration: none;
}


.profile-bar-subs {
  float: right;
}

.profile-title-search {
  color: #cc0066;
}

.profile-title-search:hover {
  color: #FFF5FE;
  text-decoration: none;
}

.profile-logout {
  color: #FFF5FE;
  display: inline;
  font-size: 15px;
  margin-left: 10px;
}

.profile-logout:hover {
  text-decoration: none;
  color: #cc0066;
}

.profheader {
  display: inline;
}

.profileheader {
  background-color: black;
  height: 70px;
}

.headerprofile {
  font-size: 80px;
  margin: 50px;
  font-family: 'Ovo', serif;

}

.profile-header {
  display: inline;
}

.tab-titles {
  color:gray;
}

.profiletop {

  min-height: 200px;
}


.totals {
  font-size: 150%;
  font-weight: bold;
  color: #cc0066;
  
}

.profilebottom {
  min-height: 500px;
  background: white;
  border-top: solid;
  border-width: 1px;
  border-color: LightGray;
}

.totals {
  height: 10px;
  margin: 30px;
  font-size: 20px;
}


.numstotals {
  margin-top: 40px;
}

nav {
  display: block;
}
