
<body class="profile">
<div class="container">
	<div class="row profilebackground">
		<div class="span12 profile-nav">
			<ul id="profilenav">
				<li class="active profilenavtab">
					<a href="#" class="profilenavlink"> Dashboard</a>
				</li>
				<li class="profilenavtab">
					<a href="#" class="profilenavlink"> Inbox</a>
				</li>
				<li class="profilenavtab">
					<a href="#" class="profilenavlink">My Pets</a>
				</li>
				<li class="profilenavtab">
					<a href="#" class="profilenavlink">Reviews</a>
				</li>
				<li class="profilenavtab">
					<a href="#" class="profilenavlink">My History</a>
				</li>
			</ul>
		</div>


		<div class="holder span12">


				<div id="sittings-tabs-box">
					Dogs I've Watched<br>
					Sitters I've Hired
				</div>

				<div id="sittings-detail-holder">
					<div id="sittings-detail-box">
					</div>
				</div>

			

		</div>
</body>