
<body class="profile">
<div class="container">
	<div class="row profilebackground">
		<div class="span12 profile-nav">
			<ul id="profilenav">
				<li class="active profilenavtab">
					<a href="#" class="profilenavlink"> Dashboard</a>
				</li>
				<li class="profilenavtab">
					<a href="#" class="profilenavlink"> Inbox</a>
				</li>
				<li class="profilenavtab">
					<a href="#" class="profilenavlink">My Pets</a>
				</li>
				<li class="profilenavtab">
					<a href="#" class="profilenavlink">Reviews</a>
				</li>
				<li class="profilenavtab">
					<a href="#" class="profilenavlink">My History</a>
				</li>
			</ul>
		</div>


		<div class="holder span12">

			<div id="left-reviews-box">
				<div id="reviews-I-wrote-box">
					Reviews of me <br>
					Reviews of my pets <br>
					My reviews of sitters <br>
					My reviews of dogs <br>
				</div>

			</div>	

		</div>
</body>