<div id="footer">
  <div class="large-container small-top-padding">
    <div class="row">
      <div class="col-xs-5">
        <p> ABOUT US 
          <div class="italic"> We care. Mostly about dogs, but also about people, and neighborhoods, and the Internet. If you have one or one million questions, ask us! 
          </div> 
        </p>
      </div>
      <div class="col-xs-5 col-xs-offset-1 pull-right">
        <p> TALK TO US </p>
        <div class="italic">
          weheartyou@fourlegsgoodsf.com
          wethinkyouarejustokay@fourlegsgoodsf.com
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 tiny-top-margin small-bottom-padding">
        <p> FEATURED CITIES </p>
        <div class="italic"> Soon to be beta testing in the Bay area.
        </div>
      </div>
      <div class="col-xs-5 col-xs-offset-1 tiny-top-margin small-bottom-padding pull-right ">
        <p> POLICIES + FAQS </p>
        <div class="italic">
          Boring till you need them. So here they are!
        </div>
      </div>
    </div>
  </div>
</div>