<!DOCTYPE html>
<html>
<head>
  <title>Fourlegsgood</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#"></a>
    <ul class="nav">
      <li class="active"> <a href="/statics">Four Legs Good</a></li>
      <form class="navbar-search pull-left" action="/sitting_requests" method="get">
  		<input type="text" class="search-query" placeholder="Search for Sitters by Zip">
	  </form>
    </ul>
    <ul class="nav pull-right">
    	<li><a href="/users/new" id="login">Sign Up</a></li>
      	<li><a href="#" id="login">Log In</a></li>
      	<li><button class="btn" id="navbutton">Earn Credits, Find Dogs to Sit</button></li>
    </ul>
  </div>
</div>


      <%= yield %>

<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Rufina|Ovo|Merriweather+Sans' rel='stylesheet' type='text/css'>
</body>
</html>
